@import './styles';

.content {
  background-color: $bg-color;
  min-height: 100vh;
  &__container {
    background-color: $main-bg-color;
    border-radius: 8px;
  }
  &__date {
    padding: 35px 0px 30px 30px;
    opacity: 0.5;
    font-size: 14px;
    text-transform: uppercase;
  }
  &__records {
    padding: 0px 30px 20px 30px;
  }
  &__record {
    padding-top: 30px;
  }
}

.record {
  position: relative;
  padding-bottom: 30px;
  &__info {
    display: flex;
    padding-bottom: 20px;
    justify-content: space-between;
    gap: 10px;
  }
  &__text {
    width: 360px;
    margin-right: 95px;
    padding-left: 60px;
    font-size: 16px;
    line-height: 20px;
    position: relative;
  }
  &__done::before {
    content: url('../../assets/Icon@3x.svg');
    border-radius: 50%;
    padding: 10px 14px;
    background-color: $record-icon-bg;
    position: absolute;
    left: 0px;
  }
  &__comment::before {
    content: '';
    border-radius: 50%;
    width: 43px;
    height: 43px;
    background-image: url('../../assets/record_icon_2.jpg');
    background-size: 43px 43px;
    display: inline-block;
    position: absolute;
    left: 0px;
  }
  &__upload::before {
    content: '';
    border-radius: 50%;
    width: 43px;
    height: 43px;
    background-image: url('../../assets/record_icon_3.jpg');
    background-size: 43px 43px;
    display: inline-block;
    position: absolute;
    left: 0px;
  }
  &__date {
    opacity: 0.7;
    font-size: 14px;
    line-height: 20px;
  }
  &__details {
    width: 77%;
    margin-left: 12.5%;
    margin-right: 20px;
    background: $bg-color;
    border-radius: 10px;
    padding: 20px 30px;
  }
  &__details-text {
    font-size: 15px;
  }
  &__album {
    padding: 0px 12.5% 20px 12.5%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  &__album-img {
    border-radius: 8px;
    width: 100px;
    height: 100px;
  }
  &__status {
    opacity: 0.7;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
  }
}
.record__btn {
  background-color: $bg-color;
  border-radius: 3px;
  border: 2px solid $share-bg;
  padding: 5px;
}

.record__btn:hover {
  border: 2px solid $bg-color;
  color: $more-font;
  cursor: pointer;
}
// .record__delete-btn {
//   position: absolute;
//   bottom: 0;
//   right: 0;
// }

.record__title {
  padding: 10px;
  opacity: 0.5;
  font-size: 12px;
  text-transform: uppercase;
}
