$bg-color: #f7f6f3;
$main-bg-color: #ffffff;
$font: Helvetica, sans-serif;
$font-color: #131313;
$sidebar-bg-color: #000000;
$sidebar-font-color: #ffffff;
$sidebar-accent-color: #202020;
$sidebar-font-subtext-color: #9b9b9b;
$pic-bg: #febc0c;
$more-font: #929191;
$more-bg: #eaeaea;
$active-font: #878787;
$notifications-bg: #ffc200;
$share-bg: #eaeaea;
$chat-bg: #fff8dd;
$record-icon-bg: #cef9c6;

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: $font;
  color: $font-color;
}

button:hover {
  cursor: pointer;
}

#app {
  font-family: Helvetica, sans-serif;
  color: #131313;
}
.btnBlockStyles {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 70px;
}
.btnStyles {
  width: 70px;
  height: 40px;
  color: black;
  background-color: white;
  border: white;
  border-radius: 5px;
  font-size: 20px;
}
.confirmMessageStyles {
  padding: 30px 30px 50px 30px;
  font-size: 24px;
  color: white;
}
.confirmWindowStyles {
  position: fixed;
  top: 50vh;
  left: 50vw;
  width: 350px;
  height: 250px;
  transform: translate(-50%, -50%);
  background-color: black;
  border-radius: 5px;
}
