$bg-color: #f7f6f3;
$main-bg-color: #ffffff;
$font: Helvetica, sans-serif;
$font-color: #131313;
$sidebar-bg-color: #000000;
$sidebar-font-color: #ffffff;
$sidebar-accent-color: #202020;
$sidebar-font-subtext-color: #9b9b9b;
$pic-bg: #febc0c;
$more-font: #929191;
$more-bg: #eaeaea;
$active-font: #878787;
$notifications-bg: #ffc200;
$share-bg: #eaeaea;
$chat-bg: #fff8dd;
$record-icon-bg: #cef9c6;
$message-font: #efeded;

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: $font;
  color: $font-color;
}

button:hover {
  cursor: pointer;
}

#app {
  font-family: Helvetica, sans-serif;
  color: #131313;
}
.blocker {
  width: 100%;
  height: 100%;
  background-color: rgba(252, 250, 250, 0.8);
  overflow-y: hidden;
  position: fixed;
  top: 0;
}
.btnBlockStyles {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 70px;
}
.btnStyles {
  width: 70px;
  height: 40px;
  background-color: $main-bg-color;
  border-radius: 3px;
  border: 2px solid $share-bg;
  padding: 5px;
  font-size: 18px;
}

.btnStyles:hover {
  border: 2px solid $font-color;
}

.confirmMessageStyles {
  padding: 30px 30px 40px 30px;
  font-size: 18px;
}

.confirmWindowStyles {
  position: fixed;
  top: 50vh;
  left: 50vw;
  width: 350px;
  height: 200px;
  transform: translate(-50%, -50%);
  border: 2px solid $share-bg;
  background-color: $message-font;
  border-radius: 5px;
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
